
@{
    ViewBag.Title = "Đặt hàng thành công";
}

<h2>Đặt hàng thành công</h2>

<p style="text-align: center">
    <h3>Cảm ơn bạn đã đặt mua sản phẩm của chúng tôi</h3>
    <a href="~/">Quay về trang chủ</a>
</p>